header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: $navBg;
    padding: 0 1.5rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    @include responsive(mobile) {
        padding: 0 1rem;
    }
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        max-width: 1150px;
        height: 60px;
        // .moon,
        // .sun {
        //     position: relative;
        //     cursor: pointer;
        //     top: -50px;
        //     left: -30px;
        //     transition: all 0.5s;
        //     opacity: 0;
        //     &.show {
        //         top: 13px;
        //         left: 0px;
        //         opacity: 1;
        //     }
        // }
        .moon-sun-container {
            position: relative;
            width: 25px;
            .moon,
            .sun {
                position: absolute;
                top: -13px;
                transform: translate(-100%, -100%);
                opacity: 0;
                transition: $transitionLong;
                cursor: pointer;
                &.show {
                    transform: translate(0, 0);
                    opacity: 1;
                }
            }
        }
        .nav-icon {
            font-size: 25px;
        }
        .logo {
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                padding: 10px;
                background-color: $mainWhite;
            }
            @include responsive(mobile) {
                img {
                    width: 95%;
                }
            }
        }
        .cart-btn {
            position: relative;
            cursor: pointer;
            .noti-cart {
                background-color: #f09d51;
                color: #fff;
                padding: 1px 5px;
                border-radius: 5px;
                position: absolute;
                top: -9px;
                right: -8px;
                font-size: 14px;
            }
        }
    }
}
