$orange: #f09d51;
$mainWhite: #fff;
$mainBlack: #222;
$grey: #ececec;
$transition: all 0.3s;
$transitionLong: all 0.5s;
$letterSpacing: 3px;
$navBg: rgb(231, 226, 221);
$overlayBg: #f09d518a;
$darkModeBannerBg: #222222c7;
